.my-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 24px;
  color: var(--vp-c-brand-1);
  border-bottom: 2px solid var(--vp-c-brand-1);
}

.my-img {
  margin: 1rem 0;
  border-radius: 8px;
}

// 设置图片缩放
@for $i from 10 through 90 {
  @if $i % 10==0 {
    .zoom-#{$i} {
      zoom: calc($i / 100);
    }
  }
}

.VPMenu {
  min-width: 192px !important;

  .VPMenuGroup>.title {
    font-size: 10px;
    color: var(--vp-c-text-3);
  }
}